# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcuserdatad

# SwiftPM
.build/
Packages/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Firebase
GoogleService-Info.plist

# Others
.DS_Store
.idea/
*.swp
